<h1>New List</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.association :movies %>
     <%= f.association :bookmarks %>
    <%= f.button :submit %>
<% end %>


<%= link_to "back to lists", lists_path %>
